.wrapper-filter-bar {
  width: 100%;
  justify-content: center;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  line-height: 5vh;
  font-size: large;
  background-color: rgba(255, 140, 0, 0.83);
}

.cats,.dogs,.rats,.fish,.bird,.discount {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  cursor: pointer;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  &:hover{
    background-color: rgba(255, 38, 0, 0.26);
    color: #fdfdfd;
  }
  svg{
    height: 80%;
    color: black;
  }
  transition: all 0.1s ease;
}
@media (max-width: 480px) {
  .cats,.dogs,.rats,.fish,.ferrets,.bird,.discount {
    display: flex;
    flex-direction: column;
    font-size: medium;
    line-height: normal;
    align-items: center;
  }
}
.discount{
  color:red;
  font-size: large;
}
.active{
  display: flex;
  background-color: rgba(255, 38, 0, 0.26);
  flex: 1 1 auto;
  justify-content: center;
  color: white;
}