input[type="checkbox"] {
    display: none;
}
.categories-food-label {
    font-size: large;
    font-weight: 400;
    cursor: pointer;
}
.stlchek {
    display: inline-block;
    border: 2px solid #b2b1b1;
    width: 20px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    margin-right: 8px;
    margin-bottom: 3px;
}

/* = делаем скрытый квадратик в нашем div */
.stlchek:before {
    content: "";
    background: gold;
    width: 12px;
    height: 12px;
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    top: 2px;
    left: 2px;
}
input:checked + .stlchek:before {
    opacity: 1;
}
.categories-goods {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categories-food {
    width: inherit;
    padding: 1% 10%;
}
@media screen and (max-width: 1000px) {
    .categories-food-label {
        font-size: medium;
        font-weight: 400;
        cursor: pointer;
    }
}
