.input-range-wrapper {
  display: flex;
  width: 50%;
  height: 100px;
  flex-direction: column;
  justify-content: space-around;
  h5 {
    align-self: center;
  }
}

.filter-price-input {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

  input {
    width: 40%;
    height: 75%;
    border-radius: 5px;
    border: 1px solid gold;
    padding-left: 12%;
    &:focus {
      border: 1px solid gold;
    }
  }
}

.filter-price-range {
}

.rc-slider-handle.rc-slider-handle-1,
.rc-slider-handle.rc-slider-handle-2 {
  border-color: gold;
  height: 20px;
  width: 20px;
  &:active {
    border-color: rgba(255, 217, 0, 0.907);
  }
}
.rc-slider-track.rc-slider-track-1 {
  background-color: rgb(248, 210, 114);
  height: 70%;
}

.rc-slider-mark-text.rc-slider-mark-text-active {
  font-size: medium;
}

@media screen and (max-width: 1000px) {
}
