.input-range-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-bottom:2vh;
  padding-top:1vh ;
  gap: 5px;
  input{
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
  }
}
input[type=range]  {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  overflow: hidden;
  border: 1px solid gold;
  border-radius: 25px;
}


input[type=range]::-webkit-slider-thumb {
  background: #fd7e14;
  cursor: pointer;
  width:7%;
  height: 2.5vh;
  border-radius: 5%;
  -webkit-appearance: none;
  box-shadow: -200px  0 0 200px  gold;
}


input[type=range]::-moz-range-thumb {
  background: #fd7e14;
  cursor: pointer;
  width:7%;
  height: 2.5vh;
  border-radius: 5%;
  -webkit-appearance: none;
  box-shadow: -200px  0 0 200px  gold;
}

.slider-range{
  display: flex;
  width: 100%;
  height: 2vh;
  background-color: rgba(255, 255, 255, 0.95);
}