.discount-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discount-block {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}

.left-but,
.right-but {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3%;
  height: 100%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: black;
  &:hover {
    background-color: rgba(255, 169, 0, 0.4);
  }
  background-color: rgba(210, 158, 11, 0.12);
}
.left-but {
  top: 0;
  left: 0;
}
.right-but {
  top: 0;
  right: 0;
}

.top-image-block {
  display: flex;
  width: 100%;
  max-height: 30vh;
  img {
    display: inline-block;
    width: 100%;
    background-size: cover;
  }
}

.discount-goods {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4vh;
  color: red;
  background-color: rgba(255, 255, 255, 0.548);
  width: 100%;
  svg {
    height: 85%; // добавить SVG
    fill: red;
  }
}

@media screen and (max-width: 600px) {
  .top-image-block {
    display: flex;
    width: 100%;
    min-height: 15vh;
    img {
      display: inline-block;
      width: 100%;
      background-size: cover;
    }
  }
}

.anim {
  opacity: 0.4;
  animation: ani 3s forwards;
}

@keyframes ani {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
