.filter-wrapper-brands {
  display: flex;
  min-width: max-content;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
// @media screen and (max-width: 720px) {
//   .filter-wrapper-brands {
//     position: absolute;
//     background-color: white;
//     width: 50%;
//   }
// }
