.cart-item-block {
    width: 100%;
    display: flex;
    background-color: white;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.cart-item {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-bottom: 2vh;
    flex: 0 1 310px;
    margin: 0 auto;
}
.cart-item-image {
    display: flex;
    justify-content: center;
}
.cart-item-name {
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: gold;
    font-size: large;
}
.cart-item-price {
}
.cart-item-description {
    line-height: initial;
    cursor: pointer;
    max-height: 100px;
    overflow: hidden;
    :hover {
        text-decoration: underline;
    }
    height: -webkit-fill-available;
}
.cart-item-available-items {
    font-size: large;
    font-weight: 500;
    color: rgb(127, 125, 125);
    display: flex;
    flex-direction: column;
    background-color: #e7f8f5;
    border-radius: 15px;
    height: 15;
    padding: 0 5%;
}

.cart-item-available-items-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 5vh;
    svg {
        fill: rgb(255, 187, 0);
        height: 20px;
        width: 20px;
        cursor: pointer;
        :hover {
            fill: goldenrod;
        }
    }
}

.cart-item-available-items-block-price {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.cart-item-available-items-block-weight {
    display: flex;
    flex-direction: column;
    width: 20%;
}
.cart-item-available-items-block-goods {
    display: flex;
    gap: 5px;
    line-height: 0%;
    svg {
        width: 11px;
        height: 10px;
    }
}
.available-much {
    svg {
        fill: green;
        :hover {
            fill: green;
        }
    }
}
.available-medium {
    svg {
        fill: gold;
        :hover {
            fill: gold;
        }
    }
}
.available-none {
    svg {
        fill: rgb(220, 216, 216);
        :hover {
            fill: rgb(220, 216, 216);
        }
    }
}
.available-minimum {
    svg {
        fill: red;
        :hover {
            fill: red;
        }
    }
}

.cart-item-available-items-block-count {
}

.star-block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5%;
}
.star-block-rating {
    display: flex;
    flex-direction: column;
}
.star-block-rating-star {
    display: flex;
}
.star-block-rating-mark {
    display: flex;
    font-size: small;
}
.star-block-review {
    font-size: small;
    align-self: flex-end;
}

.star-mark {
    svg {
        height: 2vh;
    }
}
.star-mark-active {
    svg {
        height: 2vh;
        fill: gold;
    }
}

.cart-item-block-modal {
    display: flex;
    font-size: medium;
    justify-content: center;
    padding: 5% 0;
    border: 1px solid gold;
    border-radius: 15px;
    background-color: rgb(202, 239, 244);
    :hover {
        background-color: gold;
        color: white;
        cursor: pointer;
    }
}
.cart-item--modal-button {
}
