.cart-item-available-items-block-counter {
    width: 25%;
    line-height: 120%;
}
.counter-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.counter-block-plus,
.counter-block-minus {
    display: flex;
    justify-content: center;
    font-size: larger;
    align-items: center;
    cursor: pointer;
    align-items: center;
    svg {
        fill: orange;
    }
}
.counter-block-count {
    font-weight: 600;
    padding: 0 4%;
    border-radius: 5px;
}
