.header {
  width: 100%;
  height: 12vh;
  background: rgba(253, 144, 2, 0.45);
}


.header-container {
  width: 100vw;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
}

.search {

}

.entrance {
}

.Enter {
}

.favotite {
}

.basket {
}